/\.env
public/assets/
/build_local/
/cache/
/node_modules/
/source/css/tailwind-*.css
/vendor/
/.idea/
/.vscode/
/.impeccable/
npm-debug.log
hot

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/
